@{
    ViewData["Title"] = "Home Page";
}


<div class="album py-5 bg-light">
    <div class="container">

        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Racing Club</h1>
                <p class="lead text-muted">The fastest and craziets racers, from the city, field and world!</p>
            </div>
        </section>

        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://t2.tudocdn.net/561728?w=646&h=284" width="100%" height="130" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://www.todoespacoonline.com/w/wp-content/uploads/2016/04/linux-logo-penguin-1920x1080.jpg" width="100%" height="130" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="https://media.istockphoto.com/vectors/speeding-racing-car-design-vector-id636708030?k=20&m=636708030&s=612x612&w=0&h=JtOP-Zet0rROuv_FDcfkwP9UxqxvaJ_bzPetwM52g6s=" width="100%" height="130" alt="Card image cap">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>